@model PagedList.IPagedList<ShopQuanAo.DataContext.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Data table</h5>
    </div>
    <div class="widget-content nopadding">

        <table class="table table-bordered">
            <tr>
                <th>
                    Ten
                </th>
                <th>
                    gia
                </th>
                <th>
                    gia ban
                </th>
                <th>
                    chu de
                </th>
                <th>
                    thong tin
                </th>
                <th>
                    gioi tinh
                </th>
                <th>
                    ngay nhap
                </th>
                <th>
                    hinh anh
                </th>
                <th>
                    ten loai
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaMua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChuDe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThongTin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhapHang)
                    </td>
                    <td>
                        <img src="/Images/small/@item.HinhAnh" alt="" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoaiSanPham.Ten)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
                        <a href="#" class="js-delete-product" data-product-id="@item.MaSP">
                            Delete
                        </a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@section scripts
{
    <script>
        $(".js-delete-product").on("click",
            function (e) {
                e.preventDefault();
                var link = $(e.target);
                var result = confirm("Are You Sure!");
                if (result === true) {
                    $.ajax({
                        url: "/api/sanphams/" + link.attr("data-product-id"),
                        type: "DELETE",
                        success: function () {
                            link.parents("tr").fadeOut(function() {
                                $(this).remove();
                            });
                        },
                        error: function (request, textStatus, error) {
                            alert("Something fail " + error);
                        }
                    });
                }
            });
    </script>
}
