@model PagedList.IPagedList<ShopQuanAo.DataContext.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<h2 class="create-san-pham">Them nhanh san pham</h2>


<div class="widget-box create-sanpham-form" style="display: none">
    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
        <h5>Personal-info</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" id="createSP" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="control-group">
                <label class="control-label">Ten san pham :</label>
                <div class="controls">
                    <input type="text" name="txtTenSanPham" class="span11" placeholder="Ten san pham" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">File:</label>
                <div class="controls">
                    <input type="text" class="span11" name="txtGiaSP" />
                </div>
            </div>
            <div class="form-actions">
                <button  type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Data table</h5>
    </div>
    <div class="widget-content nopadding">
        <br/>
        <a href="#" onclick="deleteMultipleProduct()">Delete product</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" value="0" id="checkAll" />
                </th>
                <th>
                    Ten
                </th>
                <th>
                    gia
                </th>
                <th>
                    gia ban
                </th>
                <th>
                    chu de
                </th>
                <th>
                    thong tin
                </th>
                <th>
                    gioi tinh
                </th>
                <th>
                    ngay nhap
                </th>
                <th>
                    hinh anh
                </th>
                <th>
                    ten loai
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@item.MaSP" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaMua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChuDe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThongTin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhapHang)
                    </td>
                    <td>
                        <img src="/Images/small/@item.HinhAnh" alt=""/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoaiSanPham.Ten)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.MaSP}) |
                        @Html.ActionLink("Details", "Details", new {id = item.MaSP}) |
                        <a href="#" class="js-delete-product" data-product-id="@item.MaSP">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>

        </table>

    </div>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@section scripts
{
    <script>
        SanPhamController.deleteProduct.init();
        SanPhamController.addProduct.init();

        $(document).ready(function() {
            $(".create-san-pham").click(function() {
                $(".create-sanpham-form").toggle();
            });
        });

        function deleteMultipleProduct() {

            $('table tbody input[type=checkbox]').each(function () {

                var link = $(this);

                if (link.is(":checked")) {
                    $.ajax({
                        url: "/api/sanphams/" + link.val(),
                        type: "DELETE",
                        success: function () {
                            debugger;
                            link.parents("tr").fadeOut(function () {
                                $(this).remove();
                            });
                        },
                        error: function (request, textStatus, error) {
                            alert("Something fail " + error);
                        }
                    });
                }
            });
        }
    </script>
    }
